@{
    ViewBag.Title = "Home Page";
}

@*<div class="col-sm-8 text-left">*@
<img style="object-fit:cover" class="img-responsive" src="~/Images/Banner-Collage.png" />
@*</div>*@

<div class="container-fluid bg-3 text-center">
    <h3 class="poppins-font">
        There is no shortcut.
        <p style="font-size:15px">It takes time to create a better, stronger version of</p>
        <p class="lobster-font">YOURSELF.</p>
    </h3><br>
    <div class="row">
        <div class="col-sm-4">
            <p></p>
            <a href="~/Home/Article1">
                <img src="~/Images/Article-Health_Fair.jpg" class="img-responsive" style="width:100%" alt="Image">
            </a>

        </div>
        <div class="col-sm-4">
            <p></p>
            <a href="~/Home/Article1">
                <img src="~/Images/Article-Nutrition_Recovery.jpg" class="img-responsive" style="width:100%" alt="Image">
            </a>
        </div>
        <div class="col-sm-4">
            <p></p>
            <a href="~/Home/Article1">
                <img src="~/Images/Article-Health_Fitness.png" class="img-responsive" style="width:100%" alt="Image">
            </a>
        </div>
    </div>
</div>