<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="row">
        <div class="blog-image-div">
            <img src="~/Images/IndexBanner.jpg" />
        </div>
        <div>
            Some text here.
        </div>
        <div class="blog-image-div">
            <img src="~/Images/" />
        </div>
        <div>
            text
        </div>

    </div>
    <div>
        
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
